.episode-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

.dynamic-value {
    font-family: "Gluten";
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--clr-light-yellow);
    text-shadow: 
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
     1px 1px 0 var(--clr-black-decor);
}

.static-value {
    font-family: "Gluten";
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--clr-light-pink);
    text-shadow: 
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
     1px 1px 0 var(--clr-black-decor);
}

.info-span {
    font-family: "Gluten";
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--clr-dark-blue);
    text-shadow: 
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
     1px 1px 0 var(--clr-black-decor);
}